PORT=3001

DB_HOST=db
DB_PORT=5432
DB_NAME=friends_db
DB_USER=admin
DB_PASSWORD=secret

JWT_SECRET=secret_secret_here

USERS_SERVICE_URL=http://users:3000
NOTIFICATIONS_SERVICE_URL=http://notifications:8080
BACKOFFICE_SERVICE_URL=http://backoffice:3003
INTERNAL_SECRET=secret_secret_here
